/* Changes width of all images */
img {
    /* Tried to have allignment here, didn't work
    display: flex; 
    justify-content: center;
    align-items: center; */
    width: 75%
}

/* adjusts the alignment of the images */
.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* adds borders */
.borders {
    border-style: inset;
    border-width: 10px;
    border-color: blueviolet;
   /* tried to move images, not suceeding
    width: fit-content;
    height: fit-content;
    inline-size: fit-content;
    block-size: fit-content;
    padding: 0px -20px 0px 0px;*/
}

/* adds filter to make black and white */
.bnw {
    filter: saturate(0%);
}

/* Added nikki's name to overlay photo */
.textposition {
    position: absolute;
    bottom: 8px;
    right: 50px;
    font-size: 400px;
    font-style: oblique;
    color: #547d18;
}

/* container for text on image? did not work */
/* .container {  */
/* position: relative; */
/* } */

/* making the image fit the box */
.resize {
    height: 1000px;
    object-fit: fill;
}

#background {
    background-image: linear-gradient(rgb(148, 201, 13), rgb(78, 43, 4));
}

#opacity {
    opacity: 50%;
    transform: skewX(-20deg);
}

#scale {
    transform: scale3d(1.7, 2.1, 0.1);
}